@use '../../../../src/styles/vars';


#appHeaderMin__brand {
  font-family: 'Krona One', sans-serif;
  font-size: 1.2rem;

  @media (width < 480px) {
    display: none;
  }

  @media (width > 480px) {
    font-size: 1.5rem;
  }

  @media (width >=900px) {
    font-size: 2rem;
  }
}

form {
  display: flex;
  flex-direction: row;


  & .appHeaderMin__searchButton {
    font-size: .8rem;
    // height: 10px;
    opacity: .5;
    padding: 0;
    border: 2px solid #F58B0E;
    border-left: none;
  }

  & .appHeaderMin__searchIcon {
    height: 16px;
    width: 16px;
  }
}
